<!-- <favorite [is-favourite]="post.isFavourite" (change)= "onChangeFavourite($event)">
</favorite> -->
<!--
<bootstrap-panel>
    <ng-container  class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>There is some content
        </p>
    </div>
</bootstrap-panel> -->
<!-- <app-like [isActive] = "tweet.isActive" [likesCount] = "tweet.likesCount">
</app-like>  -->

<div *ngIf="coursesCount.length > 0 then ifpart else elsePart"></div>
<ng-template #ifpart>
Some Courses are present
</ng-template>
<ng-template #elsePart>
 No Courses
</ng-template>
<!-- <div *ngIf="coursesCount.length == 0">
    No Courses
</div> -->
