<!-- <favorite [is-favourite]="post.isFavourite" (change)= "onChangeFavourite($event)">
</favorite> -->
<!--
<bootstrap-panel>
    <ng-container  class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>There is some content
        </p>
    </div>
</bootstrap-panel> -->
<!-- <app-like [isActive] = "tweet.isActive" [likesCount] = "tweet.likesCount">
</app-like>  -->

<!-- <div *ngIf="coursesCount.length > 0 then ifpart else elsePart"></div>
<ng-template #ifpart>
Some Courses are present
</ng-template>
<ng-template #elsePart>
 No Courses
</ng-template> -->
<!-- <div *ngIf="coursesCount.length == 0">
    No Courses
</div> -->

<!-- <div [hidden] = "coursesCount.length == 0">
    List of courses
</div>
<div [hidden] = "coursesCount.length > 0">
    No Courses Yet..!
</div> -->

<!-- <ul class="nav nav-pills" [ngClass]="externalClass"> -->
    <!-- <li [class.active] = "viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active] = "viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>     -->

     <!-- <li [class.active] = "viewMode == 'map'"><a (click)="onTabClick('map')">Map View</a></li>
    <li [class.active] = "viewMode == 'list'"><a (click)="onTabClick('list')">List View</a></li>    
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase = "'map'">Map View Content</div>
    <div *ngSwitchCase = "'list'">List View Content</div>
    <div *ngSwitchDefault>Default Value for Switch ngSwitchCase</div>
</div>  -->

<!-- <button class="btn btn-primary" (click) = "onAddButton()">ADD</button>
<ul>
    <li *ngFor = "let course of courses;index as i; 
    even as isEven; odd as isOdd; first as initialValue">
        {{i}} +'--'+ {{course.name}}
        <span *ngIf=(initialValue)>INITIAL</span>
        <span *ngIf=(isEven)>EVEN</span>
        <span *ngIf=(isOdd)>ODD</span>
        <button *ngIf=(initialValue) class="btn btn-danger" (click)="onRemoveButton(course)">REMOVE</button>
        <button class="btn btn-info" (click)="onUpdateButton(course)">UPDATE</button>
    </li>
</ul> -->

<!-- <button class="btn btn-primary" (click)="loadCourses()">LOAD COURSES</button>
<ul>
    <li *ngFor="let course of courses; trackBy:trackCourse">
         {{course.name}}
    </li>
</ul>  -->

<!-- <div *ngIf = "coursesCount.length > 0">
    List Of Courses
</div> -->

<!-- The Learning Asterisks -->
<!-- <ng-template [ngIf] = "coursesCount.length > 0">
    <div>
        List Of Courses
    </div>
</ng-template>
<ng-template [ngIf] = "!(coursesCount.length > 0)">
    No Courses baby..!
</ng-template> -->

<!-- Ng Style Multiple Binding -->
<!-- <button class="btn btn-primary" (click)="loadCourses()"
   [ngStyle]="{
       'color' : styleChange ? 'pink' : 'black'
   }">
    Ng Style
</button> -->

<!-- Safe Traversal Operator -->
<!-- <span>{{ title.assingne?.name }}</span> -->

<!-- Custom Directive -->
<!-- <input type="text" [appInputFormat]="'lowercase'"> -->


<!-- Assingment Zippy Component -->
<!-- <app-zippy title="Shipping Details">
Shipping Details..!

</app-zippy> -->

<!-- Boostrap Form -->

<!-- <contact-form></contact-form> -->

<course-form></course-form>