
<h1>Heading1</h1>

<p>
  Saravana Prasanth is a good boy.
</p>

<p>
   Saravana Prasanth is a good boy.
</p>

<h2>Heading2</h2>


<br>
<br>

<mat-checkbox
#checkBoxId
[checked]= isChecked
[value] = '1'
(change) ='onChange($event)'
>Show Data</mat-checkbox>

<div *ngIf="checkBoxId.checked">
  Show CheckBox details
</div>


<mat-radio-group value="1">
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="0" [checked]="isChecked">Female</mat-radio-button>
</mat-radio-group>

<br>

 <mat-form-field>
<mat-select placeholder="Choose the color" [(ngModel)]="color">
  <mat-option *ngFor="let color of colors" [value]="color.id">
    {{ color.name  }}
  </mat-option>
</mat-select>
</mat-form-field>

<br>

<mat-form-field>
  <input matInput 
   ngModel name="username"
   #username = "ngModel"
   placeholder="Username" required>
  <mat-hint>Enter Unique Username</mat-hint>
  <span matSuffix>@domain.com</span>
  <span matPrefix>admin</span>
  <mat-error *ngIf="username.invalid && username.errors.required">
    The username field is required
  </mat-error>
</mat-form-field>

<br>

<mat-form-field>
  <textarea matInput 
    cdkTextareaAutosize>
  </textarea>
</mat-form-field>

<br>

<mat-form-field>
  <input 
    [min]="minDate"
    [max]="maxDate"
    (focus)="picker.open()"
    matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker ></mat-datepicker>
</mat-form-field>

<br>
<mat-icon>
 home
</mat-icon>

<br>

<button mat-raised-button color="primary">Basic</button>
<button mat-raised-button color="accent">Basic</button>

<button mat-fab color="accent">
<mat-icon>check</mat-icon>
</button>

<br>

<mat-chip-list>
  <mat-chip
  *ngFor = "let category of categories"
  (click)="selectCategory(category)"
  [selected] = "category.selected"
  >
  {{ category.name }}
  </mat-chip>
</mat-chip-list>

<br>

<mat-progress-spinner
mode="determinate" 
[value]="progress"
>
</mat-progress-spinner>

<mat-progress-spinner *ngIf="isLoading"
mode="indeterminate" 
>
</mat-progress-spinner>

<br>

<span matTooltip="Here is my tooltip"
 matTooltipPosition="right"
>Saraavan</span>

<br>

<mat-tab-group>
  <mat-tab label="Billing">
    Content of billing tab
  </mat-tab>
  <mat-tab label="Shipping">
    Content of shipping tab
  </mat-tab>
</mat-tab-group>


<br>

<button 
(click)='openDialog()'
mat-raised-button>Open Dialog</button>