<mat-checkbox
#checkBoxId
[checked]= isChecked
[value] = '1'
(change) ='onChange($event)'
>Show Data</mat-checkbox>

<div *ngIf="checkBoxId.checked">
  Show CheckBox details
</div>


<mat-radio-group value="1">
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="0" [checked]="isChecked">Female</mat-radio-button>
</mat-radio-group>

<br>

 <mat-form-field>
<mat-select placeholder="Choose the color" [(ngModel)]="color">
  <mat-option *ngFor="let color of colors" [value]="color.id">
    {{ color.name  }}
  </mat-option>
</mat-select>
</mat-form-field>

<br>

<mat-form-field>
  <input matInput 
   ngModel name="username"
   #username = "ngModel"
   placeholder="Username" required>
  <mat-hint>Enter Unique Username</mat-hint>
  <span matSuffix>@domain.com</span>
  <span matPrefix>admin</span>
  <mat-error *ngIf="username.invalid && username.errors.required">
    The username field is required
  </mat-error>
</mat-form-field>

<br>

<mat-form-field>
  <textarea matInput 
    cdkTextareaAutosize>
  </textarea>
</mat-form-field>